<div>
<% if comment.user.profile %>
    <% commentuser = comment.user.profile.name %>
<% else %>
    <% commentuser = comment.user.email %>
<% end %>
<h4>Comment by <%= commentuser %></h4>
<p><%= comment.body %></p>
<p>Posted <%= distance_of_time_in_words(comment.post.created_at, comment.created_at) %> later</p>
</div>