
<%= form_with(url: post_comments_path(post), remote: true) do |f| %>
<div class="form-group">
<%= f.label :body, "Comment Here" %>
<%= f.text_area :body, class:"form-control" %>
</div>
<div>
<%= f.submit 'Post Comment', class:"btn btn-info" %>
</div>
<% end %>