<h1>All Users</h1>

<ul>
    <% @users.each do |user| %>
        <li>
            <% if user.profile %>
                <% name = user.profile.name %>
            <% else %>
                <% name = user.email %>
            <% end %>
            <%= link_to name, user_path(user) %>
            <% if !Invitation.reacted?(current_user.id, user.id) %>
                <%= render partial: "friend", locals: {user: user} %>
            <% end %>
        </li>
    <% end %>
</ul>
